body {
    text-align: center;
}

div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#Container { /* Corrected the spelling here with the help of chat i correct this  */
    width: 800px;
    height: 200px;

}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: pink;
}

#box3 {
    background-color: darkkhaki;
}

#box4 {
    background-color: red;
}

#box5 {
    background-color: slateblue;
}
