* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f48fb1;
    color: white;
}

h1 {
    font-size: 2em;
}

#filters {
    margin-top: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #e91e63;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #d81b60;
}

#product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.product-item {
    background-color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item p {
    color: #e91e63;
    font-weight: bold;
}
