div{
    height: 200px;
    width: 200px;
    background-color: chocolate;
    color: white;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 200px;
    /* transition: all;
    transition-duration: 4s;
    transition-timing-function: steps(5); */
    transition: all 2s ease-in ;
    transform: rotate(45deg);
}

div:hover{
    background-color: black;
    color: red;
    font-size: 20px;
}
@media(max-width:300px){
    div{
        background-color: green;
    ;
    }
}

@media (min-width:300px) and (max-width: 400px){
    div{
        background-color: pink;
    }
}

@media(min-width:400px) and (max-width :600px){
    div{
        background-color: red;
    }
}

@media(min-width:600px){
    div{
        background-color: blue;
    }
}